.header {
    background-color: #333;
    padding: 15px;
    position: sticky;
    margin-bottom: 20px;
    top: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.buttonContainer a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttonContainer a:hover {
    background-color: #555;
}
